<extend name="User/jichu" />



<block name="main">
<link rel="stylesheet" href="__PUBLIC__/home/css/user.css">
<link href="__PUBLIC__/home/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="__PUBLIC__/home/css/reset.css">

<script type="text/javascript" src="__PUBLIC__/home/js/jquery-browser.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/diyUpload/css/diyUpload.css">
<script type="text/javascript" src="__PUBLIC__/diyUpload/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/diyUpload/js/diyUpload.js"></script>
	<div id="container">
	
			
				<div class="index_left">
					<ul id="fuck">
						<li>
							<div class="list_left">
								<i class="friend"></i>
							</div>
							<div class="sb">
								<span class="">好友动态</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="guanzhu"></i>
							</div>
							<div class="sb">
								<span>特别关心</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="ywxg"></i>
							</div>
							<div class="sb">
								<span>与我相关</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="zbgc"></i>
							</div>
							<div class="sb">
								<span>直播广场</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="nnjr"></i>
							</div>
							<div class="sb">
								<span>那年今日</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="yxyy"></i>
							</div>
							<div class="sb">
								<span>游戏应用</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="wdsc"></i>
							</div>
							<div class="sb">
								<span>我的收藏</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="wybf"></i>
							</div>
							<div class="sb">
								<span>微云备份</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="qefm"></i>
							</div>
							<div class="sb">
								<span>企鹅FM</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="qqyd"></i>
							</div>
							<div class="sb">
								<span>QQ阅读</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="smpy"></i>
							</div>
							<div class="sb">
								<span>实名朋友</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="rzkj"></i>
							</div>
							<div class="sb">
								<span>认证空间</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="qqyc"></i>
							</div>
							<div class="sb">
								<span>QQ演出</span>
							</div>
						</li>
						<li>
							<div class="list_left">
								<i class="chwl"></i>
							</div>
							<div class="sb">
								<span>吃喝玩乐</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="index_right">
					 <div class="comment">
				        <div class="com_form">
				      
				        	<!-- <textarea class="input" id="saytext" name="saytext">
				        		
				        	</textarea> -->

				        	  <div class="input" id="saytext" name="saytext" contentEditable="true"></div>
				        	
				        	 <div id="box">
				        	 	<p>	
			        	 			<button class="emotion">表情</button>
					        		<input type="button" class="sub_btn" value="提交">
						       </p>
				        	 <div id="test" ></div>
				        	 </div>	
				       	</div>
 						
				     </div>
				     <div id="feed_friend">
 							<div class="friend-nav">
 								<div class="con	">
 									<div class="tab">
 											<a href="#" id="tablist_a">
 												<span>全部动态</span>
 												<i></i>
 											</a>
 											<div class="tablist">
 												<div class="bull">
 													<div class="op-list">
	 													<a href="">全部动态</a>
	 													<a href="">相册</a>
	 													<a href="">日志</a>
 													</div>
 												</div>
 												
 											</div>
 									</div>
 								

 								</div>
 							</div>
 							<div class="fiend-container">
 								<div class="feed">
 									<ul id="feed_friend_list">
 										<li class="f-single">
 											<div class="f-aside">
 												<div class="f-user-pto">
 													<a href=""></a>
 												</div>
 												<div class="f-user-info"></div>
 											</div>
 										</li>
 									</ul>
 								</div>
 							</div>
 					</div>    
				</div>
				<div style="clear:both">
					

				</div>
	</div>
	<script>
		var img_mlist = [];
		var  Mid;
		$('.index_left ul li').hover(function(){
			$(this).css('background-color','#e3e3e3').siblings('li').css('background-color','#f0f0f0');
		})

		$(function(){

			$(".sub_btn").bind('click',function(){
			   var fuck = $("#saytext").html();
				console.log(fuck);
			   $.ajax({
			   	type:'post',
			   	async:false,
			    url:'<{:U('Index/sendMessage')}>',
			   	data:{Mid:1,Mcontent:fuck,img_mlist:img_mlist},
			   	success:function(e){
			   	   Mid=e;
			   	}
			   });
			   $('.parentFileBox').hide();
			});	
			//上传图片按钮
			$('#test').diyUpload({
				url:'<{:U("Common/insertIMG?mid=3")}>',
				
				success:function(data) {
					
					console.log(data);
				},
				error:function( err ) {
					console.info( err );	
				}
			});




			$('.emotion').click(function(){
					 $('#saytext').focus();
			});
			$('.emotion').qqFace({
				id : 'facebox', 
				assign:'saytext', 
				path:'__PUBLIC__/home/arclist/'	//表情存放的路径
			});
		});
		

    
		$.fn.qqFace = function(options){
			var defaults = {
				id : 'facebox',
				path : 'face/',
				assign : 'content',//saytext
				tip : 'em_'
			};
			var option = $.extend(defaults, options);
			
			var assign = $('#'+option.assign);
			var id = option.id;
			var path = option.path;
			var tip = option.tip;
			
			if(assign.length<=0){
				alert('缺少表情赋值对象。');
				return false;
			}
			
	   
	         

	    
			$(this).click(function(e){
				var strFace, labFace;
	 				
				if($('#'+id).length<=0){
					strFace = '<div id="'+id+'" style="position:absolute;display:none;z-index:1000;" class="qqFace">' +
								  '<table border="0" cellspacing="0" cellpadding="0"><tr>';
					for(var i=1; i<=75; i++){
						labFace = '['+tip+i+']';
						strFace += '<td><img src="'+path+i+'.gif" onclick="insertAtCaret(\'' + labFace + '\');" /></td>';
						if( i % 15 == 0 ) strFace += '</tr><tr>';
					}
					strFace += '</tr></table></div>';
				}
				$(this).parent().append(strFace);
				var offset = $(this).position();
				var top = offset.top + $(this).outerHeight();
				$('#'+id).css('top',top);
				$('#'+id).css('left',offset.left);
				$('#'+id).show();
				e.stopPropagation();
			});

			$(document).click(function(){
				$('#'+id).hide();
				$('#'+id).remove();
			});
		};
 

	    function replace_em(str){
				str = str.replace(/\</g,'&lt;');
				str = str.replace(/\>/g,'&gt;');
				str = str.replace(/\n/g,'<br/>');
				str = str.replace(/\[em_([0-9]*)\]/g,'<img src="__PUBLIC__/home/arclist/$1.gif" border="0" />');
				return str;
	    }

        var lastEditRange;

        saytext.onclick = function() {

            // 获取选定对象
            var selection = getSelection();
            // 设置最后光标对象
            lastEditRange = selection.getRangeAt(0);

        }

       
       saytext.onkeyup = function() {
  	
            // 获取选定对象
            var selection = getSelection();
            // 设置最后光标对象
            lastEditRange = selection.getRangeAt(0);
       
       }
	
		function insertAtCaret(textFeildValue){
			var ts=replace_em(textFeildValue);
	        
	        $('#saytext').focus();
	          
	        document.execCommand('InsertImage', false, $(ts)[0].src);
	        
	    } 

	</script>
	<script>
		$('#tablist_a').hover(function(){
			$('#feed_friend .friend-nav .con .tab .tablist').slideToggle();
		
		});
	</script>
</block>