<extend name="Index/index" />
<block name="main">
	<div id="container">
		<div class="tb"> 
			<div class="qz_left ">
				<div id="prop" class="ifuck">
					<ul>
						<li>
						<a href=""><strong>134</strong>
							<span>照片</span>
						</a>
						</li>
						<li>
							<a href=""><strong>487</strong>
								<span>说说</span>
							</a>
						</li>
						<li>
							<a href=""><strong>3</strong>
								<span>日志</span>
							</a>
						</li>
						<div style="clear:both"></div>
					</ul>
				</div>
			</div>
			<div class="qz_right ">
				<div class="xing"></div>
			</div>
		</div>
	</div>
</block> 