<extend name="Index/index"/>
<block name="main">
	<link rel="stylesheet" href="__PUBLIC__/home/css/user.more.css">
	<div id="more-table">
		<table class="table-bordered container" >
			<tr>
				<th class="col-md-3"></th>
				<th class="col-md-3"></th>
				<th class="col-md-3"></th>
				<th class="col-md-3"></th>
			</tr>
			<tr>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
			</tr>
			<tr>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
			</tr>
			<tr>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
			</tr>
			<tr>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
				<td class="col-md-3"></td>
			</tr>				
		</table>
	</div>
</block>